
.bg-white-with-opacity  {
  background-color: rgba(41, 43, 44, 0.8)
}

.bg-black-with-opacity  {
  background-color: rgb(247, 247, 247,  0.8)
}

.light-blue {
  color: #adbce6;
}

.blue {
  color: blue;
}

// varibales
$dark: #292b2c;
$light: #f7f7f7;
$gray: gray;
$lightgray: lightgray;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
