$jamred: #EA004D;
$dark: #292b2c;
$light: #f7f7f7;
$gray: gray;
$lightgray: lightgray;
$lesslightgray: #e2e6ea;
$openQuestion: #fff1e1;
$closedQuestion: #e2fbff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$message-width: 265px;
