
.bg-white-with-opacity  {
  background-color: rgba(41, 43, 44, 0.8)
}

.bg-black-with-opacity  {
  background-color: rgb(247, 247, 247,  0.8)
}

.light-blue {
  color: #adbce6;
}

.light-blue:hover {
  color: #adbce6;
}


.blue {
  color: blue;
}

// varibales
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
